body{
    margin: auto;
    padding: 0;
    max-width: 1200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#9bbbcd;

}

.nav{
    display: flex;
    background-color: #9bbbcd;
    font-size: 1.2rem;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.navitem{
    flex: 1;
}
@media screen and (max-width: 600px) {
    .nav{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.navitem:hover{
    background-color:#53819b;
    cursor: pointer;
    color: white;
}

.menu-icon{
    height: 10px;
}



.content{
    background-color: white;
    padding: 40px;
}
.image{
    max-width: 100%;
}

.content h1{
    font-size: 2rem;
    margin-top: 0;
}

.img-text-wrap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.image-klein{
    margin-left: auto;
    margin-right: auto;
}


.actions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
}



.footer{
    background-color:black;
    height: 200px;
}