body{
    margin: auto;
    padding: 0;
    max-width: 1200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#9bbbcd;

}

.nav{
    display: flex;
    background-color: #9bbbcd;
    font-size: 1.2rem;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.navitem{
    flex: 1;
}


.navitem:hover{
    background-color:#53819b;
    cursor: pointer;
    color: white;
}

.menu-icon{
    height: 10px;
}



.content{
    background-color: white;
    padding: 40px;
}
.image{
    max-width: 100%;
}

.content h1{
    font-size: 2rem;
    margin-top: 0;
}

.img-text-wrap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.image-klein{
    margin-left: auto;
    margin-right: auto;
}


.actions{
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    flex: 1;
    cursor: pointer;
    background-color: #9bbbcd;
    text-align: center;
}

.card-img{
    display: grid;
    justify-content: center;
}

.card img{
    max-width: 100%;
    min-width: 300px;
}


.footer{
    background-color:black;
    height: 200px;
}


/*MENU BAR MOBILE */
#menu{
    display: none;
}
#menubtn{
    display: none;
}


@media screen and (max-width: 600px) {
    .nav{
        display: grid;
        grid-template-columns: 1fr;
    }
    #menubtn{
        display: grid;
        justify-content: center;
    }
    #menubtn:hover{
        background-color: #53819b;
    }

    #menu:checked ~ .nav{
        display: none;
    }
    #menu:not(:checked) ~ .nav{
        display: grid;
    }
    
}